*{
    margin:0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 10%;
}
table td{
    border: 1px black solid;
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
}
button{
    height: 30px;
}